<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">MyApp</a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/msg">NWC Message</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alert">Alert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
  </ul>
</nav>
<router-outlet></router-outlet>
