/* Alert Button Styles */
.alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Adjust based on navbar height */
  background-color: #1a1a1a;
}

.alert-button {
  background-color: #f39c12;
  color: #1a1a1a;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.alert-button:hover {
  background-color: #fff;
  color: #f39c12;
}